<nav class="navbar">
  <div class="brand-container">
    <img
      src="assets/shoppy.png"
      alt="icon"
      class="icon"
      width="25"
      height="25"
    />
    <span class="brand-name">MY SHOPPY</span>
  </div>

  <div class="cart-link">
    <img src="assets/cart.png" alt="cart" width="20 height=20" />
    <a routerLink="/cart" class="cart">Cart({{ cartCount }})</a>
  </div>
</nav>
<div>
  <p class="heading">Shop our top categories</p>
</div>

<div class="category-container">
  <div class="category-img">
    <a routerLink="/fashion">
      <img src="assets/fashion.png" alt="Fashion" />
      <p class="category-name">Fashion</p></a
    >
  </div>

  <div class="category-img">
    <a routerLink="/beauty">
      <img src="assets/beauty.png" alt="Beauty" />
      <p class="category-name">Beauty</p></a
    >
  </div>

  <div class="category-img">
    <a routerLink="/electronics">
      <img src="assets/electronics.png" alt="Electronics" />
      <p class="category-name">Electronics</p></a
    >
  </div>

  <div class="category-img">
    <a routerLink="/appliances">
      <img src="assets/appliances.png" alt="appliances" />
      <p class="category-name">Home Appliances</p></a
    >
  </div>

  <div class="category-img">
    <a routerLink="/books">
      <img src="assets/books.png" alt="Books" />
      <p class="category-name">Books</p></a
    >
  </div>
</div>
